.about-container {
    display: flex;
    justify-content: center; /* Centers both blocks horizontally */
    align-items: center; /* Centers both blocks vertically */
    gap: 5rem; /* Adds space between the two blocks */
    padding: 2rem;
    background-color: var(--background-color);
    max-width: 100%; /* Limits the overall width of the container */
    margin: 0 auto; /* Centers the container itself on the page */
}

.about-block {
    max-width: 550px; /* Sets a limit for the width of the about block */
    text-align: left; /* Aligns text to the left */
}

.about-title {
    font-size: 23px; 
    color: var(--ascent-color);
    font-family: var(--name-font);
    font-weight: 600;
    margin-bottom: 20px; 

}

.about-description {
    font-size: 20px;
    color: var(--text-color);
    font-family: var(--text-font);
    margin-bottom: 2rem; /* Adds space below the description */
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 550px;
    height: auto;
    position: relative;
    border-radius: 6px; 
    padding: 7px; 
    background: linear-gradient(45deg, var(--ascent-color), var(--background-color)); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.photo-me {
    width: 100%; 
    height: auto; 
    border-radius: 6px; 
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn blue */
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
  
.linkedin-button:hover {
    background-color: #005E8C; 
}