/* Navbar.css */
.navbar {
    display: flex;
    flex-direction: column; 
    background: var(--background-color); 
    height: auto;
}

.top-bar {
    height: 40px; 
    background-color: var(--ascent-color); 
    width: 100%; 
    margin-bottom: 10px; 
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px; 

}

.logo {
    font-size: 24px; 
    margin-left: 40px; 
    color: var(--text-color);
    font-family: var(--text-font);
}

.name {
    font-size: 24px; 
    margin-left: 40px; 
    color: var(--background-color);
    font-family: var(--text-font);
}

.nav-links {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 35px; 
    margin-right: 40px; 
    align-items: center; 
    height: 100%; 
}

.link {
    color: var(--text-color); 
    text-decoration: none; 
    font-family: var(--text-font);
    font-size: 20px; 
}

.resume-link {
    background-color: var(--background-color); 
    color: var(--text-color); 
    padding: 12px 18px; 
    border-radius: 10px; 
    border-color: var(--ascent-color);
    border-width: 2.5px;
    border-style: solid;
    cursor: pointer; 
    transition: opacity 0.2s; 
    display: inline-block; 
    font-family: var(--text-font);
    font-size: 20px; 
}
  
.resume-link.hovered {
    opacity: 0.5; 
}
  
.resume-link:active {
    opacity: 0.25; 
}