/* Navbar.css */
.navbar {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    background: var(--background-color); /* Sets the background color */
    height: auto;
}

.top-bar {
    height: 40px; /* Set the height of the rectangle bar */
    background-color: var(--ascent-color); /* Change to your desired color */
    width: 100%; /* Full width */
    margin-bottom: 10px; /* Space below the rectangle */
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space between logo and links */
    align-items: center; /* Aligns items vertically */
    margin-top: 10px; /* Space below the rectangle */

}

.logo {
    font-size: 24px; /* Set the font size of the logo */
    margin-left: 40px; /* Right margin for spacing */
    color: var(--text-color);
    font-family: var(--text-font);
}

.nav-links {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Flex display for the links */
    gap: 35px; /* Space between links */
    margin-right: 40px; /* Right margin for spacing */
    align-items: center; /* Center items vertically */
    height: 100%; /* Ensure it takes the full height of the navbar or header */
}

.link {
    color: var(--text-color); /* Link color */
    text-decoration: none; /* No underline for links */
    font-family: var(--text-font);
    font-size: 25px; /* Set the font size of the logo */
}

.resume-link {
    background-color: var(--background-color); /* Background color */
    color: var(--text-color); /* Text color */
    padding: 12px 18px; /* Padding */
    border-radius: 10px; /* Rounded corners */
    border-color: var(--ascent-color);
    border-width: 2.5px;
    border-style: solid;
    cursor: pointer; /* Cursor on hover */
    transition: opacity 0.2s; /* Smooth transition */
    display: inline-block; /* Makes it behave like a button */
    font-family: var(--text-font);
    font-size: 25px; /* Set the font size of the logo */
}
  
.resume-link.hovered {
    opacity: 0.5; /* Reduced opacity on hover */
}
  
.resume-link:active {
    opacity: 0.25; /* Further reduced opacity on click */
}