/* color palette */
:root {
  --ascent-color: #A33855;
  --background-color: #121212;
  --text-color: #EDEDED;

  --text-font: 'Nunito', sans-serif;
  --name-font: 'Lato', sans-serif;

}

.main-content {
  display: flex; 
}

body {
  background-color: var(--background-color);
}
