/* color palette */
:root {
  --ascent-color: #61719F;
  --background-color: #FDFDFD;
  --text-color: #333333;

  --text-font: 'Nunito', sans-serif;
  --name-font: 'Lato', sans-serif;

}

.main-content {
  display: flex; 
}

body {
  background-color: var(--background-color);
}
